fastapi==0.115.6
uvicorn==0.34.0
pandas==2.2.3
scipy==1.14.1
numpy==2.0.2
textblob==0.18.0
pydantic==2.10.4
slowapi==0.1.9
shap==0.46.0
lime==0.2.0.1
scikit-learn==1.6.1
cryptography==44.0.0
requests==2.31.0
# Security Tools
bandit==1.7.7
pip-audit==2.7.2
